body {
    background-color: #7fa8ba;
    min-height: 150vh;
}

#showGraphBtn {
    background-color: #1a365d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}
